# Build artifacts
*.o
*.a
build/
.sconsign.dblite
.sconf_temp/

# Binaries
*.out
*.lib
bin/
examples/capture_example
cli/frametap_cli
tests/test_runner
tests/test_runner.exe
test_run_stamp

# Notes
notes.txt
